<div ng-controller="myController" layout="row">
	<md-sidenav style="padding-top:50px; height: 100%; width: 300px; position: fixed;" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

		<div class="list-group" ng-show="apresentarListaDeTarefas">
		  <p type="button" class="list-group-item list-group-item-action active">
		    Lista de Tarefas
		  </p>
		  <button type="button" ng-click="caregarTarefasDaListaEspecifica(listaDeTarefa)" class="list-group-item list-group-item-action" ng-repeat="listaDeTarefa in arrayListaDeTarefas">{{listaDeTarefa.nome}}</button>
		  </br>
		  <button type="button" ng-click="criarNovaListaDeTarefa()" class="btn btn-success">Criar nova Lista de Tarefas</button>
		</div>

		 <div class="modal-dialog" ng-show="!apresentarListaDeTarefas">
			<div class="loginmodal-container">
			  <form>
				<p type="button" class="list-group-item list-group-item-action active">
				    Nova Lista de Tarefas
				</p>
				</br>
				<label class="col-md-4 control-label">Nome</label>
				<input type="text" placeholder="Nome da Lista de Tarefas" class="form-control" ng-model="novaListaDeTarefas.nome">
				</br>
				<button type="button" ng-click="salvarListaDeTarefa(novaListaDeTarefas)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Adicionar</button>
			    <button type="button" ng-click="cancelarCiracaoNovaListaDeTarefa()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
			  </form>
			</div>
		</div>

	</md-sidenav>

	<div style="padding-left: 300px;" layout="column" class="container" flex id="content">
		<md-content layout="column" class="md-padding">
			<h1>{{listaDeTarefasAtual.nome}}</h1>

			<input type="text" placeholder="Filtre sua busca por Nome ou Prioridade da Tarefa" class="form-control" ng-model="tipoDeCategoria">

			<table class="table">
				<thead>
					<tr>
						<th><a href="" ng-click="ordenarPor('nome')"/>Tarefa</th>
						<th>Categoria</th>
						<th><a href="" ng-click="ordenarPor('categoria')"/>Prioridade</th>
						<!--<th>Data Agendada</th>-->
						<th>Resolvido</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-click="apresentarSideNav(tarefa)" ng-repeat="tarefa in tarefas | filter: tipoDeCategoria | orderBy:tipoDeordenacao">

						<td>{{tarefa.nome}}</td>
						<!--<td>{{tarefa.data | date}}</td>-->
						<td>{{tarefa.categoria}}</td>
						<td>{{tarefa.prioridade}}</td>
						<td>
							<input type="checkbox" ng-model="tarefa.realizada" ng-change="calculaProgresso()"></input>
						</td>
						<td>
							<button type="button" class="btn btn-secondary" ng-click="removerTarefa(tarefa)">Remover</button>
						</td>
					</tr>
				</tbody>

			</table>

			<div class="progress">
				<div ng-model="progresso" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
				aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progresso + '%' ) }">
				{{progresso}}% Completo	</div>
			</div>
			<md-content layout="row" align="middle">
				<button type="button" style="width: 200px" class="btn btn-default" ng-click="novaTarefa()">Nova Tarefa</button>
				<button type="button" style="width: 200px" ng-click="removerTodasTarefas()" class="btn btn-danger">Remover Todas Tarefas</button>
			</md-content>
		</md-content>
	</div>

	<md-sidenav style="padding-top:50px; height: 100%; width: 300px; position: fixed;" class="md-sidenav-right md-whiteframe-4dp" md-component-id="taskInfo">

		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
		</md-toolbar>
		<md-content layout-padding="">
			<form>
				<md-input-container>
					<label for="testInput">Test input</label>
					<input type="text" id="testInput" ng-model="data" md-autofocus="">
				</md-input-container>
			</form>
		</md-content>

	</md-sidenav>
</div>